<% provide(:title, 'About Us') %>
<h1>About Us</h1>
  <p>
      Our mission is to enhance on campus student project collaboration 
      (particularly those related to sustainability) by providing Tufts students with the means to view each other's work and learn from previous projects.
    </p>
