<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <br>Contact Josh Fishbein or Jillian Silver about issues with this website.
  <br>Josh Fishbein: jfishb01@tufts.edu
  <br>Jillian Silver: jillian.silver@tufts.edu
</p>
